export(connect_to_fabric)
export(list_tables)
export(read_table)
export(query_tables)
export(list_lakehouses)
importFrom(AzureStor, storage_endpoint)
importFrom(AzureStor, storage_container)
importFrom(AzureStor, list_storage_files)
importFrom(AzureStor, download_blob)
importFrom(arrow, read_parquet)
importFrom(DBI, dbConnect)
importFrom(DBI, dbDisconnect)
importFrom(DBI, dbWriteTable)
importFrom(DBI, dbGetQuery)
importFrom(httr, GET)
importFrom(httr, add_headers)
importFrom(httr, content)
importFrom(httr, stop_for_status)
importFrom(utils, head)
