export(connect_to_fabric)
export(list_tables)
export(read_table)
importFrom(AzureStor, storage_endpoint)
importFrom(AzureStor, storage_container)
importFrom(AzureStor, list_storage_files)
importFrom(AzureStor, download_blob)
importFrom(arrow, read_parquet)
importFrom(utils, head)
